@model IEnumerable<Blogg.Models.Makale>


@helper IcerikKisalt(string metin)
{
    if (metin.Length > 99)
    {
        <span>@metin.Substring(0, 99)</span>
    }
    else
    {
        @metin
    }
}


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <h3 style="color:burlywood">En Son Eklenenler</h3>
        <div class="tm-content-box">
            @foreach (Blogg.Models.Makale item in Model)
            {
                <span class="">@item.EklenmeTarihi.ToShortDateString() /</span>
                <span>
                    <a>@item.Yorums.Count</a><img src="https://img.icons8.com/ios/24/000000/quote.png">


                </span>
                <p href="/Makale/Detay/@item.MakaleID">
                    @item.Baslik
                    <a class="btn btn-success rounded" href="/Makale/Detay/@item.MakaleID">Hepsini Oku</a>
                </p>
           
                <img src="@item.Resim.KucukBoyut" alt="Image" class="img-fluid tm-img-post">

                <p>@IcerikKisalt(item.İcerik)</p>

            }
        </div>
    </div>


</div>